{% load static %} {% load crispy_forms_tags %}
<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/uni.png' %}">
    <title>reset password done</title>
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
</head>


<body>

    <div class="password--reset">
        <div class='password--reset--header'>
            <h3>Check your inbox</h3>
        </div>
        <div class="password--reset--box">
            <div class="password--reset--box--text--done">
                <p>We've emailed you instructions for setting your password. You should receive the email shortly</p>
                <a href="../">Resend recovery email</a>
            </div>
        </div>
    </div>

    <footer class="footer--another--confirm2 mobile-1">
        © 2020 <a href="https://ut.ac.ir" target="_blank">University of Tehran</a> All rights reserved
    </footer>


</body>

</html>