{% extends "base.html" %}
{% load static %} 
{% load crispy_forms_tags %}
<!--  Title  -->
{% block title %}Station setup{% endblock %}

<!-- Page Name -->
{% block pageName %} Station setup {% endblock %} 
{% block css %}
	<script src="{% static 'dist/vendor/jquery/ajax-jquery-3.4.1.min.js' %}"></script>
{% endblock %}

{% block content %}
<h2 style="padding-left: 15px;">Setup</h2>
<div class='card-body'>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.city|as_crispy_field}}
        </div>
        <div class="fieldWrapper">
            {{ form.station_id|as_crispy_field}}
            {% if messages %} {% for message in messages %}
                {%if "station_id_error" in message.tags %}
                    <p id="error_1_id_latitude" class="invalid-feedback" style="display: block;"><strong>{{ message }}.</strong></p>
                {% endif %}
            {% endfor %} {% endif %}
        </div>
        <div class="fieldWrapper">
            {{ form.raspberryID|as_crispy_field }}
        </div>
        <div class="fieldWrapper">
            {{ form.address|as_crispy_field}}
        </div>
        <div class="fieldWrapper">
            {{ form.sensor_type|as_crispy_field}}
        </div>
        <div class="fieldWrapper">
            {{ form.latitude|as_crispy_field}}
            {% if messages %} {% for message in messages %}
                {%if "lat" in message.tags %}
                    <p id="error_1_id_latitude" class="invalid-feedback" style="display: block;"><strong>{{ message }}.</strong></p>
                {% endif %}
            {% endfor %} {% endif %}
        </div>
        <div class="fieldWrapper">
            {{ form.longitude|as_crispy_field}}
            {% if messages %} {% for message in messages %}
                {%if "lon" in message.tags %}
                    <p id="error_1_id_longitude" class="invalid-feedback" style="display: block;"><strong>{{ message }}.</strong></p>
                {% endif %}
            {% endfor %} {% endif %}
        </div>
        <div class="fieldWrapper">
            {{ form.owner|as_crispy_field}}
        </div>
        <div class="form-group">
	        <label for="note-image">Images</label><span class="asteriskField">*</span>
	        <input type="file" name="images" class="form-control-file" id="note-image" multiple>
	        {% if messages %} {% for message in messages %}
                {%if "image" in message.tags %}
                    <p id="error_1_note-image" class="file_upload_error"><string>{{ message }}.</string></p>
                {% endif %}
            {% endfor %} {% endif %}
    	</div>
        <button class="btn btn-success" type="submit" id = "station_setup_button">Setup</button>
    </form>
</div>





<script src="{% static 'dist/js/pages/station_setup.js' %}"></script>


{% endblock %}
