{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
<!--  Title  -->
{% block title %}Stations{% endblock %}

<!-- Page Name -->
{% block pageName %} Stations{% endblock %}

{% block content %}

<table class="table table-hover" id="station-table-list">
  <thead class="thead-dark">
    <tr>
      <th scope="col">number</th>
      <th scope="col">Station name</th>
      <th scope="col">Operator</th>
      <th scope="col">Date</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
	{% for station in station_list %}
		{% if station.status == True %}
		    <tr class="table-success">
		      <th scope="row"><a href="{{ station.get_absolute_url }}">{{ forloop.counter }}</a></th>
		      <td><a href="{{ station.get_absolute_url }}">{{ station.station_name}}</a></td>
		      <td><a href="{{ station.get_absolute_url }}">{{station.operator_name}}</a></td>
		      <td><a href="{{ station.get_absolute_url }}">{{station.date}}</a></td>
		      <td><a href="{{ station.get_absolute_url }}">active</a></td>
		    </tr>
		{% else %}
			<tr class="table-danger">
		      <th scope="row"><a href="{{ station.get_absolute_url }}">{{ forloop.counter }}</a></th>
		      <td><a href="{{ station.get_absolute_url }}">{{ station.station_name}}</a></td>
		      <td><a href="{{ station.get_absolute_url }}">{{station.operator_name}}</a></td>
		      <td><a href="{{ station.get_absolute_url }}">{{station.date}}</a></td>
		      <td><a href="{{ station.get_absolute_url }}">deactive</a></td>
		    </tr>
		{% endif %}
    {% endfor %}
  </tbody>
</a>
</table>

{% endblock %}