{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
<!--  Title  -->
{% block title %}message{% endblock %}

<!-- Page Name -->
{% block pageName %}send message{% endblock %} {% block css %}
<link href="{% static 'dist/css/message.css' %}" rel="stylesheet">
<script src="{% static 'dist/vendor/jquery/ajax-jquery-3.4.1.min.js' %}"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
{% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="grid email">
        <div class="grid-body">
            <div class="row">
                <div class="col-md-3" id="folder-section">
                    <h2 class="grid-title"><i class="fa fa-inbox"></i> INBOX</h2>
                    <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal" style="font-size: 1.1rem"><i class="mdi mdi-grease-pencil"></i>&nbsp;&nbsp;MESSAGE</a>
                    <hr>

                    <div>
                        <ul class="nav nav-pills nav-stacked" id = "Folder-inbox-sent">
                            <li id="message-header" class="header">Folders</li>
                            <li id="inbox_loader" ><a href="#"><i class="fa fa-inbox"></i> Inbox({{number_of_inbox}})</a></li>
                            <li id="message-active" ><a href="#" id="sent-mobile-move"><i class="mdi mdi-message"></i> Sent({{number_of_sent}})</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9" id="messages-section">
                    <div class="row">
                        <div class="col-sm-6">
                            <label style="margin-right: 8px;" class="">
									<div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="check-all" class="icheck" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
								</label>
                        </div>
                    </div>

                    <div class="padding"></div>

                    <div class="table-responsive">
                        <table id="messages-table" class="table table-hover">
                            <tbody>
                                <tr id="header-table">
                                    <th class="name">FROM</th>
                                    <th class="subject">SUBJECT</th>
                                    <th class="time">TIME</th>
                                </tr>
                                {% if number_of_inbox == 0 %}
                                <tr>
                                    <td class="name"></td>
                                    <td class="subject"></td>
                                    <td class="time"></td>
                                </tr>
                                {% endif %} {% for message in messages %}
                                <tr id="message_detail">
                                    <td class="name"><a href="#">{{message.sender}}</a></td>
                                    <td class="subject"><a href="#">{{message.title}}</a>
                                    </td>
                                    <td class="time"><a href="#">{{message.date_message}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-wrapper">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-blue">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title"><i class="fa fa-envelope"></i> Compose New Message</h4>
                                    </div>
                                    <form action="#" method="post">
                                        <div class="modal-body">
                                            <form method="post">
                                                {% csrf_token %} {{ form|crispy }}
                                        </div>
                                        <div class="modal-footer">
                                            <button  type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>
											 Discard
											</button>
                                            <button type="submit" class="btn btn-success pull-right" name="action1" value="send">
												<i class="fa fa-envelope"></i> Send Message
											</button>
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8" async defer>
    function isStringPersian2(strings, id){
    for (i in strings){
        if (isPersian(strings[i])){
            $(id).css("text-align", 'right');
            break;
            }
        }
    }
    $(document).ready(function() {
    $.ajax({
        type: "GET",
        url: "{% url 'inbox' request.user.pk %}",
        success: function(data) {
            count = data.count
            $('#inbox_loader').html('<a href="#"><i class="fa fa-inbox"></i> Inbox(' + count + ') </a>')
            if (count == 0) {
                main_table = '<tr>' +
                    '<td class="name"></td>' +
                    '<td class="subject"></td>' +
                    '<td class="time"></td>' +
                    '</tr>';
            } else {
                main_table = "";
                for (i in data.messages) {
                    var get_absolute_url = data.messages[i].urls;
                    let re = new RegExp(get_absolute_url)
                    visualized = data.messages[i].visualized;
                    read = "";
                    if (visualized == false) {
                        read = "unread-message"
                    };
                    table = '<tr onclick="inboxFunction(' + re + ')"' + ' class=' + '"' + read + '"' + '>' +
                        '<td class="name"><a href="#">' + data.messages[i].sender + '</a></td>' +
                        '<td class="subject"><a href="#">' + data.messages[i].title + '</a></td>' +
                        '<td class="time"><a href="#">' + data.messages[i].date_message + '</a></td>' +
                        '</tr>'
                    main_table += table
                }
            }
            $(".message_detail_all_inbox").css('display', 'none')
            $(".message_detail_all").css('display', 'none')
            $("#messages-table").empty();
            $("#messages-table").prepend('<tbody>' +
                '<tr id="header-table">' +
                '<th class="name">FROM</th>' +
                '<th class="subject">SUBJECT</th>' +
                '<th class="time">TIME</th>' +
                '</tr>' + main_table +
                '</tbody>'
            )

        }
    });
});


    $('#inbox_loader').click(function(event) {
    event.preventDefault();
    $.ajax({
        type: "GET",
        url: "{% url 'inbox' request.user.pk %}",
        success: function(data) {
            count = data.count
            $('#inbox_loader').html('<a href="#"><i class="fa fa-inbox"></i> Inbox(' + count + ') </a>')
            if (count == 0) {
                main_table = '<tr>' +
                    '<td class="name"></td>' +
                    '<td class="subject"></td>' +
                    '<td class="time"></td>' +
                    '</tr>';
            } else {
                main_table = "";
                for (i in data.messages) {
                    var get_absolute_url = data.messages[i].urls;
                    let re = new RegExp(get_absolute_url);
                    visualized = data.messages[i].visualized;
                    read = "";
                    if (visualized == false) {
                        read = "unread-message"
                    };
                    table = '<tr onclick="inboxFunction(' + re + ')"' + ' class=' + '"' + read + '"' + '>' +
                        '<td class="name"><a href="#">' + data.messages[i].sender + '</a></td>' +
                        '<td class="subject"><a href="#">' + data.messages[i].title + '</a></td>' +
                        '<td class="time"><a href="#">' + data.messages[i].date_message + '</a></td>' +
                        '</tr>'
                    main_table += table
                }
            }
            $(".message_detail_all_inbox").css('display', 'none')
            $(".message_detail_all").css('display', 'none')
            $("#messages-table").empty();
            $("#replay-form").remove()
            $("#messages-table").prepend('<tbody>' +
                '<tr id="header-table">' +
                '<th class="name">FROM</th>' +
                '<th class="subject">SUBJECT</th>' +
                '<th class="time">TIME</th>' +
                '</tr>' + main_table +
                '</tbody>'
            )

        }
    });
});


$('#message-active').click(function(event) {
    event.preventDefault();
    $.ajax({
        type: "GET",
        url: "{% url 'send' request.user.pk %}",
        success: function(data) {
            count = data.count
            $('#message-active').html('<a href="#"><i class="mdi mdi-message"></i> Sent(' + count + ') </a>')
            if (count == 0) {
                main_table = '<tr>' +
                    '<td class="name"></td>' +
                    '<td class="subject"></td>' +
                    '<td class="time"></td>' +
                    '</tr>';
            } else {
                main_table = ""
                for (i in data.messages) {
                    var get_absolute_url = data.messages[i].urls
                    let re = new RegExp(get_absolute_url)
                    table = '<tr onclick="sentFunction(' + re + ')">' +
                        '<td class="name"><a href="#">' + data.messages[i].reciver + ' </a></td>' +
                        '<td class="subject"><a href="#">' + data.messages[i].title + '</a></td>' +
                        '<td class="time"><a href="#">' + data.messages[i].date_message + '</a></td>' +
                        '</tr>'
                    main_table += table;
                }

            }
            $(".message_detail_all").css('display', 'none')
            $(".message_detail_all_inbox").css('display', 'none')
            $("#messages-table").empty();
            $("#replay-form").remove()
            $("#messages-table").prepend('<tbody>' +
                '<tr id="header-table">' +
                '<th class="name">FROM</th>' +
                '<th class="subject">SUBJECT</th>' +
                '<th class="time">TIME</th>' +
                '</tr>' + main_table +
                '</tbody>'
            )

        }
    });
});


function inboxFunction(get_absolute_url) {
    let g = RegExp(get_absolute_url);
    get_absolute_url = get_absolute_url.toString().replace(/[ /\ ]/gi, '');
    $.ajax({
        type: "GET",
        url: get_absolute_url,
        success: function(data) {
            $("#replay-button").css("display", "block");
            $("#messages-table").empty();
            $(".table-responsive").prepend('<hr id="hr-for-mobile">' + '<div class="message_detail_all_inbox">' +
                '<h2 class="message_title_inbox">' + data.message.title + '</h2>' +
                '<div class="sender_and_time_inbox">' +
                '<h4 class="message_sender_inbox"> FROM : ' + data.message.sender + '</h4>' +
                '<h4 class="message_time_inbox">' + data.message.date_message + '</h4>' +
                '</div>' +
                '<div class="message_content_inbox">' +
                '<p dir="auto" id="first-message">' + data.message.content_message + '</p>' +
                '</div>' +
                '</div>' +
                '<div id="replay-form">' +
                '<form method="POST">' +
                '{% csrf_token %}' +
                '<textarea class="form-control" id="content"></textarea>' +
                '<button type="submit" class="btn btn-success btn-lg" onclick="replayFunction(' + g + ')" name="action2" value="replay">SEND</button>' +
                '</form>' +
                '</div>'
            )
            var string2 = $("#first-message").text();
            isStringPersian2(string2, "#first-message")
            document.getElementById('content').addEventListener('keypress',function(e){
                 if (isEnglish(e.charCode))
                   $("#content").css("direction", 'ltr');
                 else if(isPersian(e.key))
                   $("#content").css("direction", 'rtl');
            });
            $("#content").bind("paste", function(e){
                var pastedData = e.originalEvent.clipboardData.getData('text');
                    isStringPersian(pastedData);
            } )

            function isEnglish(charCode){
                    return (charCode >= 97 && charCode <= 122) || (charCode>=65 && charCode<=90);
            }   

            function isPersian(key){
                var p = /^[\u0600-\u06FF\s]+$/;    
                return p.test(key) && key!=' ';
            }

            function isStringPersian(strings){
                for (i in strings){
                    if (isPersian(strings[i])){
                        $("#content").css("direction", 'rtl');
                        break;
                    }
                }
            }

        }
    });
};

    function sentFunction(get_absolute_url) {
        get_absolute_url = get_absolute_url.toString().replace(/[ /\ ]/gi, '');
        $.ajax({
            type: "GET",
            url: get_absolute_url,
            success: function(data) {
                $("#messages-table").empty();
                $(".table-responsive").prepend('<hr id="hr-for-mobile">' + '<div class="message_detail_all">' +
                    '<h2 class="message_title">' + data.message.title + '</h2>' +
                    '<div class="sender_and_time">' +
                    '<h4 class="message_sender"> TO : ' + data.message.reciver + '</h4>' +
                    '<h4 class="message_time">' + data.message.date_message + '</h4>' +
                    '</div>' +
                    '<div class="message_content">' +
                    '<p dir="auto" id="second-message">' + data.message.content_message + '</p>' +
                    '</div>' +
                    '</div>'
                )
                var string2 = $("#second-message").text();
                isStringPersian2(string2, "#second-message")
            }
        });
    };

</script>

<script src="{% static 'dist/js/pages/message.js' %}"></script>
{% endblock %}