{% load static %} {% load crispy_forms_tags %}
<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/uni.png' %}">
    <title>reset password</title>
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="password--reset">
        <div class='password--reset--header'>
            <h3>Forgot your password?</h3>
        </div>
        <div class="password--reset--box">
            <div class="password--reset--box--text">
                <p>Enter your email address below, and we'll email instructions for setting a new one</p>
            </div>
            <div class='card-body'>
                <form method="post">
                    {% csrf_token %} {{ form|crispy }}
                    <input class="btn btn-success btn-password--reset" type="submit" value="Send me instructions!">
                </form>
            </div>
        </div>
    </div>

    <footer class="footer--another--pass mobile-1">
        © 2020 <a href="https://ut.ac.ir" target="_blank">University of Tehran</a> All rights reserved
    </footer>


</body>
<script>
    $(document).ready(function() {
        $(".asteriskField").remove()
    });
</script>

</html>