{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
<!--  Title  -->
{% block title %}Password reset complete{% endblock %}
<!-- Load css if need -->
{% block css %}
<!-- -->
{% endblock %}

<!-- Page Name -->
{% block pageName %} Home {% endblock %} {% block pageName2 %} Sign Up {% endblock %} {% block content %}
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the
    <a href="{% url 'signpage' %}">Sign in page</a>.</p>
{% endblock %}