{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
<!--  Title  -->
{% block title %}plot and download{% endblock %}
<!-- Load css if need -->
{% block css %}
<!-- -->
{% endblock %}

<!-- Page Name -->
{% block pageName %} plot and download {% endblock %}{% block content %}


{% if request.user.userType == 'is_user' %}
	<h3 style="text-align: center;">Sorry, you do not have access to any stations yet</h3>
{% endif %}

{% if request.user.userType == 'is_operator' %}
	<h3 style="text-align: center;">Sorry, you do not have access to any stations yet</h3>
{% endif %}

{% if request.user.userType == 'is_admin' %}
	<h3 style="text-align: center;">No station has been registered yet</h3>
{% endif %}


{% endblock %}