{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/uni.png' %}">
    <title>{% block title %}
        <!--   -->{% endblock %} </title>
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/stations.css' %}" rel="stylesheet"> {% block css %}
    <!-- -->{% endblock %}
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="https://ut.ac.ir" target="_blank">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                    <!-- Dark Logo icon -->
                                    <img src="{% static 'assets/images/logo.png' %}" alt="homepage" class="light-logo" />
                                </b>

                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <form class="app-search position-absolute">
                        </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'assets/images/users/1.jpg' %}" alt="user" class="rounded-circle" width="31"><i class="fa fa-angle-down"> </i></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="{% url 'profile' request.user.pk %}"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                <a class="dropdown-item" href="{% url 'signout' %}"><i class="fa fa-power-off m-r-5 m-l-5"></i> Sign out</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-content hide-menu m-l-10">
                                    <div class="main">
                                        <div class="sidebar-menu">
                                            <ul>
                                                <li class="sidebar-dropdown">
                                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#">
                                                        <span class="hide-menu" style="color: #212529"><i class="mdi mdi-account-settings-variant" style="padding-right: 10px;"></i>Account</span>
                                                    </a>
                                                    <div class="sidebar-submenu">
                                                        <ul>
                                                            <li>
                                                                <a id="sidebar-a-mobile" class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'profile' request.user.pk %}"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>

                                                            </li>
                                                            <li class="sign-out-li">
                                                                <a id="sidebar-a-mobile2" class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'signout' %}"><i class="fa fa-power-off m-r-5 m-l-5"></i>Sign out</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <h4 class="m-b-0 user-name font-medium"> Hi {{ request.user.username }} </h4>
                                    </a>
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>
                        <!-- User Profile-->
                        <div class="User-profile-custom">
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'map' %}" aria-expanded="false"><i class="mdi mdi-map"></i><span class="hide-menu">Map</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'plot' %}" aria-expanded="false" style="width: 230px;"><i class="mdi mdi-chart-line"></i><span class="hide-menu">Plot and download</span></a></li>
                            {% if request.user.userType == 'is_user' %}
                            <li class="sidebar-item" style="width: 155px;">
                                <a href="{% url 'messages' request.user.pk %}" aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link" style="display: block;"><i class="ti-email m-r-5 m-l-5"></i><span class="hide-menu" style="margin-bottom: -5px;margin-left: 5px; position: absolute;">Inbox<span id = "message_inbox_count" style="font-size: 16px" class="hide-menu"></span></span></a>   
                            </li>
                            {% endif %} {% if request.user.userType == 'is_operator' %}
                            <div class="sidebar-menu-Admins">
                                <ul id="sidebarnav">
                                    <li class="sidebar-dropdown-Admins">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#">
                                            <i class="mdi mdi-raspberrypi"></i>
                                            <span class="hide-menu" style="color: #212529">Station</span>
                                        </a>
                                        <div class="sidebar-submenu-Admins">

                                            <ul>
                                                <li>
                                                    <a id="sidebar-a" class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'station_setup' %}"><i class="mdi mdi-wrench"></i> Setup</a>

                                                </li>
                                                <li>
                                                    <a id="sidebar-a" class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'station_list' %}"><i class="mdi mdi-monitor"></i> My stations</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul style="margin-top:60px;">
                                            <li style="width: 155px;">
                                                <a href="{% url 'messages' request.user.pk %}" aria-expanded="false" style="display: block;"><i class="ti-email m-r-5 m-l-5"></i><span class="hide-menu" style="margin-top: 1px;margin-left: 5px; position: absolute;">Inbox<span id = "message_inbox_count" style="font-size: 16px" class="hide-menu"></span></span></a>                                            
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            {% endif %} {% if request.user.userType == 'is_admin' %}
                            <div class="sidebar-menu-Admins">
                                <ul id="sidebarnav">
                                    <li class="sidebar-dropdown-Admins">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#">
                                            <i class="mdi mdi-raspberrypi"></i>
                                            <span class="hide-menu" style="color: #212529">Station</span>
                                        </a>
                                        <div class="sidebar-submenu-Admins">

                                            <ul>
                                                <li>
                                                    <a id="sidebar-a" class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'station_setup' %}"><i class="mdi mdi-wrench"></i> Setup</a>

                                                </li>
                                                <li>
                                                    <a id="sidebar-a" class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'station_list' %}"><i class="mdi mdi-monitor"></i>  stations</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="left-sidebar-add-user">
                                <ul>
                                    <li>
                                        <a href="{% url 'signup' request.user.pk %}" aria-expanded="false"><i class="mdi mdi-account-plus"></i>
                                                <span class="hide-menu">users</span>
                                            </a>
                                    </li>
                                </ul>
                                <ul style="margin-top:60px;">
                                    <li style="width: 155px; margin:auto;">
                                        <a href="{% url 'messages' request.user.pk %}" aria-expanded="false" style="display: block;"><i class="ti-email m-r-5 m-l-5"></i><span class="hide-menu" style="margin-top: -1px;margin-left: 5px; position: absolute;">Inbox<span id = "message_inbox_count" style="font-size: 16px" class="hide-menu"></span></span></a>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    {% block users %} {% endblock %}
                    <div class="col-5">
                        <h4 class="page-title">{% block pageName %}
                            <!-- page name -->{% endblock %}</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" id="tabel-mobile-style">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% block content %}
                                <!-- content block-->{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2020 <a href="https://ut.ac.ir" target="_blank">University of Tehran</a> All rights reserved
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/js/app-style-switcher.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.js' %}"></script>
    <script src="{% static 'dist/js/pages/sidebar-mobile.js' %}">
    </script>

    <script>
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "{% url 'inbox_message_count' request.user.pk %}",
            success: function(data){
                console.log(data.count)
                $("#message_inbox_count").text('(' + data.count +')');
            }
        })
    });    
    </script>
</body>

</html>


