{% extends "base.html" %}
{% load static %}
{% block title %}Map{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dist/css/ol.css' %}" type="text/css">
    <style>
    .map {
        height: 550px;
        width: 100%;
    }
    </style>
    <script src="{% static 'dist/js/ol.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="map" class="map"></div>
    <script type="text/javascript">
        var Map = ol.Map;
        var View = ol.View;
        var VectorLayer = ol.layer.Vector;
        var VectorSource = ol.source.Vector;
        var Tile = ol.layer.Tile;
        var OSM = ol.source.OSM;
        var GeoJSON = ol.format.GeoJSON;
        var Style = ol.style;

        var lableStyle = function(feature){
            return new Style.Text({
                // textAlign: 'center',
                // textBaseline: 'middle',
                // font: ,
                text: feature.get('Name').trunc(10),
                fill: new Style.Fill({color: '#000000'}),
                stroke: new Style.Stroke({color: '#ffffff', width: 3}),
                offsetX: 0,
                offsetY: 5,
                // rotation: 10
            });
        };

        var iconStyle = function(){
            return new Style.Icon({
                anchor: [0.5, 1],
                anchorXUnits: 'fraction',
                anchorYUnits: 'fraction',
                src: "{% static 'assets/images/sensorIcon.png' %}"
            });
        };

        function pointStyle(feature, resolution) {
            return new Style.Style({
                image: iconStyle(),
                text: lableStyle(feature)
            });
        }

        var vectorS = new VectorSource({
            features: (new GeoJSON()).readFeatures({{ geojsonObject | safe }})
        });

        var vectorL = new VectorLayer({
            source: vectorS,
            style: pointStyle
        });

        var map = new Map({
            target: 'map',
            layers: [
            new Tile({
                source: new OSM()
            }),
            vectorL
            ],
            view: new View({
            projection: 'EPSG:4326',
            center: [52.4146, 35.6891],
            zoom: 9
            })
        });

        /**
        * @param {number} n The max number of characters to keep.
        * @return {string} Truncated string.
        */
        String.prototype.trunc = String.prototype.trunc ||
            function(n) {
            return this.length > n ? this.substr(0, n - 1) + '...' : this.substr(0);
        };
    </script>
{% endblock %}
