{% extends "base.html" %}
{% load static %}
{% block title %}Map{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dist/css/ol.css' %}" type="text/css">
    <script src="{% static 'dist/js/jquery-3.2.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dist/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'dist/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <style>
    .map {
        height: 550px;
        width: 100%;
    }
    .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
    }
    .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    } 
    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
    }
    .ol-popup-closer:after {
        content: "✖";
    }
    
    input[type=submit] {
        position: absolute;
        bottom: 2px;
        right: 15px;
        color: blue;
        background-color: #ffffff;
        padding: 0px;
        font-size: 15px;
    }

    input[type=submit]:hover {
        background-color: #dddddd;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #ffffff;
        text-align: left;
        padding: 0px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
    <script src="{% static 'dist/js/ol.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="map" class="map"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
        <form action="\plot" method="GET" target="_blank">
            <input class="btn" type="submit" value="Show Data">
        </form>
    </div>

    <script type="text/javascript">
        var Map = ol.Map;
        var View = ol.View;
        var VectorLayer = ol.layer.Vector;
        var VectorSource = ol.source.Vector;
        var Tile = ol.layer.Tile;
        var OSM = ol.source.OSM;
        var GeoJSON = ol.format.GeoJSON;
        var Style = ol.style;
        var Overlay = ol.Overlay;

        var lableStyle = function(feature){
            return new Style.Text({
                // textAlign: 'center',
                // textBaseline: 'middle',
                // font: ,
                text: feature.get('Name').trunc(10),
                fill: new Style.Fill({color: '#000000'}),
                stroke: new Style.Stroke({color: '#ffffff', width: 3}),
                offsetX: 0,
                offsetY: 5,
                // rotation: 10
            });
        };

        var iconStyle = function(){
            return new Style.Icon({
                anchor: [0.5, 1],
                anchorXUnits: 'fraction',
                anchorYUnits: 'fraction',
                src: "{% static 'assets/images/sensorIcon.png' %}"
            });
        };

        function pointStyle(feature) {
            return new Style.Style({
                image: iconStyle(),
                text: lableStyle(feature)
            });
        }

        var vectorS = new VectorSource({
            features: (new GeoJSON()).readFeatures({{ geojsonObject | safe }})
        });

        var vectorL = new VectorLayer({
            source: vectorS,
            style: pointStyle
        });        

        var container = document.getElementById('popup');
        var content = document.getElementById('popup-content');
        var closer = document.getElementById('popup-closer');

        var overlay = new Overlay({
            element: container,
            positioning: 'bottom-center',
            stopEvent: false,
            offset: [0, -50],
            autoPan: true,
            autoPanAnimation: {
                duration: 250
            }
        });
        
        closer.onclick = function() {
            overlay.setPosition(undefined);
            closer.blur();
            return false;
        };

        var map = new Map({
            target: 'map',
            overlays: [overlay],
            layers: [
            new Tile({
                source: new OSM()
            }),
            vectorL
            ],
            view: new View({
            projection: 'EPSG:4326',
            center: [52.4146, 35.6891],
            zoom: 9
            })
        });

        map.on('pointermove', function(evt) {
            var feature = map.forEachFeatureAtPixel(evt.pixel,
                function(feature) {
                return feature;
                });

            if (feature) {
                var coordinates = feature.getGeometry().getCoordinates();
                overlay.setPosition(coordinates);
                content.innerHTML = '<h6>' + feature.get('Name') + '</h6>'
                                    +'<font size="2">' 
                                        +'<table>'
                                            +'<tr>' 
                                                +'<td>ID:</td>' 
                                                +'<td>' + feature.get('ID') + '</td>' 
                                            +'</tr>' 
                                            +'<tr>' 
                                                +'<td>Operator:</td>' 
                                                +'<td>' + feature.get('Operator') + '</td>' 
                                            +'</tr>' 
                                            +'<tr>' 
                                                +'<td>Sensor Type:</td>' 
                                                +'<td>' + feature.get('Sensor Type') + '</td>' 
                                            +'</tr>' 
                                            +'<tr>' 
                                                +'<td>Address:</td>' 
                                                +'<td>' + feature.get('Address') + '</td>' 
                                            +'</tr>' 
                                            +'<tr>' 
                                                +'<td>Status:</td>' 
                                                +'<td><b>'
                                                    +'<font color="green">'
                                                        + feature.get('Status') 
                                                    +'</font>'
                                                +'</b></td>' 
                                            +'</tr>' 
                                            +'<tr>' 
                                                +'<td>Start Time:</td>' 
                                                +'<td>' + feature.get('Start Time') + '</td>' 
                                            +'</tr>' 
                                            +'<tr>' 
                                                +'<td>End Time:</td>' 
                                                +'<td>' + feature.get('End Time') + '</td>' 
                                            +'</tr>' 
                                            +'<tr>' 
                                                +'<td>Longitude:</td>' 
                                                +'<td>' + feature.get('Longitude') + '</td>' 
                                            +'</tr>' 
                                            +'<tr>' 
                                                +'<td>Latitude:</td>' 
                                                +'<td>' + feature.get('Latitude') + '</td>' 
                                            +'</tr>' 
                                        +'</table>'
                                    +'</font>';
            }
        });

        String.prototype.trunc = String.prototype.trunc ||
            function(n) {
            return this.length > n ? this.substr(0, n - 1) + '...' : this.substr(0);
        };
    </script>
{% endblock %}
