{% extends "base.html" %} {% load static %} {% block title %}Plot page{% endblock %} {% block css %}
<script type="text/javascript" src="{% static 'assets/libs/MathJax/MathJax.js' %}?config=AM_HTMLorMML-full"></script>

<link rel="stylesheet" href="{% static 'assets/libs/bootstrap/dist-v3/css/bootstrap.css' %}">
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist-v3/js/bootstrap.js' %}"></script>

<!-- <link rel="stylesheet" href="{% static 'assets/libs/clockpicker/dist/jquery-clockpicker.css' %}">
<script src="{% static 'assets/libs/clockpicker/dist/jquery-clockpicker.js' %}"></script> -->

<link rel="stylesheet" href="{% static 'assets/libs/calendar/dist/jquery.md.bootstrap.datetimepicker.style.css' %}">
<script src="{% static 'assets/libs/calendar/dist/jquery.md.bootstrap.datetimepicker.js' %}"></script>

<script src="{% static 'assets/libs/chart/dygraph.js' %}"></script>
<script src="{% static 'assets/libs/chart/dygraph.min.js' %}"></script>
<script src="{% static 'assets/libs/chart/interaction.js' %}"></script>
<script src="{% static 'assets/libs/chart/synchronizer.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/libs/chart/dygraph.css' %}">

<link rel="stylesheet" href="{% static 'assets/libs/treeview/bootstrap-treeview.min.css' %}">
<script src="{% static 'assets/libs/treeview/bootstrap-treeview.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'dist/css/plot_style.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'dist/css/ol.css' %}" type="text/css">
<script src="{% static 'dist/js/ol.js' %}"></script>

<style>
    .ul-plot-toolbar {
        list-style-type: none;
        padding: 2.5px;
        overflow: hidden;
        margin: auto auto;
    }
    
    .li-plot-toolbar {
        padding: 5px;
        float: right;
    }
    
    .li-plot-toolbar-text {
        float: right;
        color: white;
        text-align: center;
        padding-top: 8px;
        padding-right: 2px;
        padding-left: 10px;
        font-size: large;
        font-weight: bold;
    }

    .dygraph-legend {
        background-color: rgba(200, 200, 255, 0.75);
        padding: 1px;
        border-radius: 20px;
        box-shadow: 1px 1px px #888;
        width: auto;
        left: 100px !important;
      }
</style>

{% endblock %} {% block content %}
<div class="line_graph_main">
    <div id='myChart1' class="line_graph_1" ></div>
    <div id='myChart2' class="line_graph_2" ></div>
    <div id='myChart3' class="line_graph_3" ></div>
</div>
<div class="histogram_and_treeView">
    <div class="treeView_main">
        <div class="row-map1">
            <div class="column-map1" >
                <button type="button" class="btn btn-default" id="btn-search" style="height: 40px;">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="column-map2" style="padding: 2px; width: 83%;">
                <div class="form-group">
                    <label for="input-search" class="sr-only">Search Tree:</label>
                    <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="" style="height: 40px;">
                </div>
            </div>
        </div>
        <div class="row-map3">
            <div id="myTreeView" class="TreeView-plot"></div>
        </div>
    </div>
    <div class="histogram_and_calender">
        <div class="calendar_main">
            <ul class="ul-plot-toolbar">
                <li class="li-plot-toolbar" style="width: 160px; padding: 0;">
                    <div class="input-group">
                        <input type="text" id="inputDate2" class="form-control" placeholder="Gregorian Calendar" aria-label="date2" aria-describedby="date2">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar" style="cursor: pointer;" id="date2"></span>
                        </span>
                    </div>
                </li>
                <h3 style="text-align: center; margin: 0; padding: 0;"><b>Histogram</b></h3>
            </ul>
        </div>
        <div id='myHistogram' class="histogram_main" style="width: 98%;"></div>
    </div>
</div>

<script>
    var VectorSource = ol.source.Vector;
    var GeoJSON = ol.format.GeoJSON;

    var vectorS = new VectorSource({
        features: (new GeoJSON()).readFeatures({{ geojsonObject | safe }})
    });

    function myTreeData() {
            var json = '[';
            vectorS.forEachFeature(function (feature) {
                json = json + "{"
                            + '"text": "' + feature.get('Name') + '", '
                            + '"color": "#234b6e", '
                            + '"Longitude": "' + feature.get('Longitude') + '", '
                            + '"Latitude": "' + feature.get('Latitude') + '", '
                            + (feature.get('Status') == 'Active' ? '"tags": ["Active"], ' : '')
                            + '"nodes":['
                                + '{'
                                    + '"text": "  ' + feature.get('ID') + '", '
                                    + '"icon": "glyphicon glyphicon-info-sign"'
                                + '}, '
                                + '{'
                                    + '"text": "  ' + feature.get('Operator') + '", '
                                    + '"icon": "glyphicon glyphicon-user"'
                                + '},'
                                + '{'
                                    + '"text": "  ' + feature.get('Sensor Type') + '", '
                                    + '"icon": "glyphicon glyphicon-wrench"'
                                + '}, '
                                + '{'
                                    + '"text": "  ' + feature.get('Status') + '", '
                                    + '"icon": "glyphicon glyphicon-' + (feature.get('Status') == 'Active' ? 'ok-sign"' : 'remove-sign"') + ', '
                                    + '"color": ' + (feature.get('Status') == 'Active' ? '"green"' : '"red"')
                                + '}, '
                                + '{'
                                    + '"text": "  ' + feature.get('Address') + '", '
                                    + '"icon": "glyphicon glyphicon-map-marker"'
                                + '}'
                            + ']},';
            });
            json = json.substr(0, json.length - 1) + ']';

            return JSON.parse(json);;
        };

    var $searchableTree = $('#myTreeView').treeview({
        data: myTreeData(),
        showBorder: false,
        color: "#428bca",
        expandIcon: 'glyphicon glyphicon-chevron-right',
        collapseIcon: 'glyphicon glyphicon-chevron-down',
        highlightSelected: true,
        levels: 1,
        showTags: true,
        searchResultColor: "#ffffff",
        searchResultBackColor: "#aaaaaa",
        onNodeSelected: function(event, node) {
            var view = new View({
                projection: 'EPSG:4326',
                center: [node.Latitude, node.Longitude],
                zoom: map.getView().getZoom()
                });
            if (node.Longitude){
                map.setView(view);
                var pixel = map.getPixelFromCoordinate([node.Latitude, node.Longitude]);
                ContentOfPopup(pixel);
            }
        }
    });

    var search = function(e) {
        $searchableTree.treeview('collapseAll');
        var pattern = $('#input-search').val();
        var options = {
        ignoreCase: false,
        exactMatch: false,
        revealResults: true
        };
        var results = $searchableTree.treeview('search', [ pattern, options ]);
    };

    $('#btn-search').on('click', search);
    $('#input-search').on('keyup', search);
</script>

<script>
    // x = '';
    x = {{ PlotData | safe }};
    // document.getElementById("zargar").innerHTML = "<pre>" + x + "</pre>";
        
        g = [];
        g.push(
            new Dygraph(
                document.getElementById("myChart1"),
                x,
                {
                    // legend: "follow",
                    animatedZooms: true,
                    drawPoints: true,
                    pointSize: 3,
                    // showRangeSelector: true,
                    // rangeSelectorPlotFillColor: "#FFF",
                    // highlightCircleSize: 3,
                    axisLineWidth: 2,
                    // axisLabelWidth: 10,
                    ylabel: "<b>`a_x`</b>",
                    title: "Station Name",
                    axes:{
                        'x':{
                            axisLabelFontSize: 0
                        }
                    },
                    interactionModel: {                    
                        'mousedown' : downV3,
                        'mousemove' : moveV3,
                        'mouseup' : upV3,
                        'dblclick' : dblClickV4
                    },
                }
            )
        );
        g.push(
            new Dygraph(
                document.getElementById("myChart2"),
                x,
                {
                    // legend: "follow",
                    // showRangeSelector: true,
                    animatedZooms: true,
                    drawPoints: true,
                    pointSize: 3,
                    // rangeSelectorPlotFillColor: "#FFF",
                    axisLineWidth: 2,
                    // axisLabelWidth: 10,
                    ylabel: "<b>`a_y`</b>",
                    axes:{
                        'x':{
                            axisLabelFontSize: 0
                        }
                    },
                    interactionModel: {                    
                        'mousedown' : downV3,
                        'mousemove' : moveV3,
                        'mouseup' : upV3,
                        'dblclick' : dblClickV4
                    }
                }
            )
        );
        g.push(
            new Dygraph(
                document.getElementById("myChart3"),
                x,
                {
                    // legend: "follow",
                    animatedZooms: true,
                    showRangeSelector: true,
                    rangeSelectorPlotFillColor: "#FFF",
                    drawPoints: true,
                    pointSize: 3,
                    axisLineWidth: 2,
                    // axisLabelWidth: 10,
                    ylabel: "<b>`a_z`</b>",
                    interactionModel: {                    
                        'mousedown' : downV3,
                        'mousemove' : moveV3,
                        'mouseup' : upV3,
                        'dblclick' : dblClickV4,
                    }
                }
            )
        );
        var sync = Dygraph.synchronize(g);
</script>   

<script>
    // Darken a
    function darkenColor(colorStr) {
        // Defined in dygraph-utils.js
        var color = Dygraph.toRGB_(colorStr);
        color.r = Math.floor((255 + color.r) / 2);
        color.g = Math.floor((255 + color.g) / 2);
        color.b = Math.floor((255 + color.b) / 2);
        return 'rgb(' + color.r + ',' + color.g + ',' + color.b + ')';
    }

      // This function draws bars for a single series. See
      // multiColumnBarPlotter below for a plotter which can draw multi-series
      // bar charts.
      function barChartPlotter(e) {
        var ctx = e.drawingContext;
        var points = e.points;
        var y_bottom = e.dygraph.toDomYCoord(0);

        ctx.fillStyle = darkenColor(e.color);

        // Find the minimum separation between x-values.
        // This determines the bar width.
        var min_sep = Infinity;
        for (var i = 1; i < points.length; i++) {
          var sep = points[i].canvasx - points[i - 1].canvasx;
          if (sep < min_sep) min_sep = sep;
        }
        var bar_width = Math.floor(2.0 / 3 * min_sep);

        // Do the actual plotting.
        for (var i = 0; i < points.length; i++) {
          var p = points[i];
          var center_x = p.canvasx;

          ctx.fillRect(center_x - bar_width / 2, p.canvasy,
              bar_width, y_bottom - p.canvasy);

          ctx.strokeRect(center_x - bar_width / 2, p.canvasy,
              bar_width, y_bottom - p.canvasy);
        }
      };

    var dataHist = {{ HistData | safe }};
    
    var Hist = new Dygraph(
        document.getElementById("myHistogram"),
        dataHist,
        {
            axes:{
                y:{
                    axisLineWidth: 2
                }
            },
            plotter: barChartPlotter,
            dateWindow: [0, 25],
            includeZero: true,
            ylabel: "ylabel",
            // xlabel: "xlabel",
            interactionModel: {}
        }
    );  
</script>
<script type="text/javascript">

    $('#date2').MdPersianDateTimePicker({
        targetTextSelector: '#inputDate2',
        selectedDate: new Date(),
        isGregorian: true,
        placement: 'bottom',
        align: 'right',
        autoclose: true
    });
    
</script>

{% endblock %}
