{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
<!--  Title  -->
{% block title %}Sign Up{% endblock %}
<!-- Load css if need -->
{% block css %}
<script src="{% static 'dist/vendor/jquery/ajax-jquery-3.4.1.min.js' %}"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'dist/css/Admin_panel.css' %}" rel="stylesheet"> {% endblock %}
<!-- Page Name -->
{% block users %}
<div class="topnav">
    <div class="buttons-add-active">
        <a id="btn-Add" class="active" href="{% url 'signup' request.user.pk %}">ADD</a>
        <a id="btn-Active" href="{% url 'active_user_page' request.user.pk %}">ACTIVE</a>
    </div>
</div>
{% endblock %} {% block content %}

<div class="add-user-content">
    <ul class="messagelist">
        <li class="success">
            {% if messages %} {% for message in messages %}
            <b style="font-size: 20px; color: rgb(18, 119, 119);">{{ message }}</b> {% endfor %} {% endif %}
        </li>
    </ul>

    <h2 style="padding-left: 15px;">Sign Up</h2>
    <div class='card-body'>
        <form method="post" data-url="{%url 'signup' request.user.pk %}">
            {% csrf_token %} {{ form|crispy }}
            <button class="btn btn-success" type="submit">Sign Up</button>
        </form>
    </div>
</div>
<div class="active-user-content">
</div>
<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-wrapper">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-blue">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" style="position: absolute;"><i class="mdi mdi-raspberrypi"></i> Stations Access</h4>
                </div>
                <div class="overflow-auto">
                    <div class="modal-body">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>
                                 CLOSE
                                </button>
                    <button id="user_access_change" type="submit" class="btn btn-success pull-right">
                                    <i class="fa fa-envelope"></i> SAVE CHANGES
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">WARNING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body2">
        Are you sure you want to delete this user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success pull-right" id="delete_user">Yes</button>
      </div>
    </div>
  </div>
</div>


<script>

    $(document).on('click', '#user_delete_button', function(event) {
        event.preventDefault();
        var data_user = $(this).data("user");
        window.value = data_user;
        $("#exampleModal").modal('show');
    });

    $(document).on('click', '#delete_user', function(event) {
        event.preventDefault();
        var data_user_delete = window.value;
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            type: "POST",
            url: "{% url 'user_delete' request.user.pk %}",
            data: {
                csrfmiddlewaretoken: csrftoken,
                'UserName': data_user_delete
            },
            success: function() {
                $("#exampleModal").modal('hide');
                $('tr[data-user="' + data_user_delete + '"]').remove();
            }
        });
    });



    $(document).on('click', '#user_access_change', function(event) {
        event.preventDefault();
        var my_data_user = window.value;
        var csrftoken = getCookie('csrftoken');
        var user_access_all = [];
        $.each($("input[name='station']:checked"), function(){            
            user_access_all.push($(this).val(), true);
        });
        $.each($("input[name='station']:not(:checked"), function(){          
            user_access_all.push($(this).val(), false);
        });
        $.ajax({
            type: "POST",
            url: "{% url 'access_station' request.user.pk %}",
            data: {
                csrfmiddlewaretoken: csrftoken,
                'UserName' : my_data_user,
                "UserAcessList" : user_access_all
            },
            success: function(){
                $("#compose-modal").modal('hide');
            }
        })
    });
    $(document).on('click', '#user_access_model', function(event) {
        event.preventDefault();
        $(".modal-body").empty()
        var data_user = $(this).data("user");
        window.value = data_user;
        $.ajax({
            type: "GET",
            url: "{% url 'access_station' request.user.pk %}",
            data: {
                'UserName': data_user
            },
            success: function(data) {
                count = data.count;
                main = "";
                if (count == 0) {
                    temp = "No station has been registered yet";
                } else {
                    for (i in data.stations_id) {
                        this_station_id = data.stations_id[i];
                        this_station_access = data.access[i];
                        if (i % 2 != 0) {
                            column = '<div class="w-100"></div>';
                        } else {
                            column = "";
                        }
                        if (this_station_access == false) {
                            temp =
                                '<div class="col">' +
                                '<div class="form-check">' +
                                '<input class="form-check-input" type="checkbox" value="'+ this_station_id +'" id="defaultCheck1" name="station">' +
                                '<label class="form-check-label" for="defaultCheck1">' +
                                this_station_id +
                                '</label>' +
                                '</div>' +
                                '</div>' +
                                column 
                        } else {
                            temp =
                                '<div class="col">' +
                                '<div class="form-check">' +
                                '<input class="form-check-input" type="checkbox" value="'+ this_station_id +'" id="defaultCheck1" checked="true" name="station">' +
                                '<label class="form-check-label" for="defaultCheck1">' +
                                this_station_id +
                                '</label>' +
                                '</div>' +
                                '</div>' +
                                column 
                        };

                        main += temp;
                    };
                };
                final = '<div class="container">' + '<div class="row">' + main + '</div>'
                $('.modal-body').prepend(final);
                $("#compose-modal").modal('show');
            }
        });
    });

    $(document).ready(function() {
        $("#id_phone_number").attr('type', 'text');
    });
    $("#btn-Add").click(function(event) {
        event.preventDefault();
        $("#btn-Add").attr('class', 'active');
        $("#btn-Active").removeClass('active');
        $(".add-user-content").css("display", "inherit");
        $(".active-user-content").css("display", "none");
        $(".active-user-content").empty()
    });

    $("#btn-Active").click(function(event) {
        $(".active-user-content").empty()
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "{% url 'active_user_page' request.user.pk %}",
            success: function(data) {
                count = data.count;
                if (count == 0) {
                    main_table = '<tr class="table">' +
                        '<th scope="row"><a href="#">0</a></th>' +
                        '<td><a href="#"></a></td>' +
                        '<td><a href="#"></a></td>' +
                        '<td><a href="#"></a></td>' +
                        '<td><a href="#"></a></td>' +
                        '<td><a href="#"></a></td>' +
                        '<td><a href="#"></a></td>' +
                        '</tr>';
                } else {
                    main_table = "";
                    number = 0
                    for (i in data.user_list) {
                        this_data = data.user_list[i];
                        status = this_data.status;
                        number += 1;
                        class_name = "";
                        status_id = "";
                        if (status == 'false') {
                            class_name = "table-danger";
                            status_id = "status_deactive";
                            var user_status = "Deactive";
                        } else {
                            class_name = "table-success";
                            status_id = "status_active";
                            var user_status = "Active";
                        }
                        table = '<tr class= ' + class_name + ' data-user = "' + this_data.username + '">' +
                            '<th scope="row" class="user_access">' + number + '</th>' +
                            '<td>' + this_data.username + '<span class="userTypeIn_list">(<b>' + this_data.user_type + '</b>)</span> </td>' +
                            '<td>' + this_data.email + '</td>' +
                            '<td>' + this_data.phone_number + '</td>' +
                            '<td class="user-status-TF" id=' + status_id + ' data-user = ' + this_data.username + '><button type="button" class="btn btn-secondary" id ="change_st"><a href="#" class="button_text">' + user_status + '</a></button></td>' +
                            '<td id="user_access_model" data-user = ' + this_data.username + '><button type="button" class="btn btn-secondary"><a href="#" class="button_text">station</a></button></td>' +
                            '<td id="user_delete_button" data-user = ' + this_data.username + '><button type="button" class="btn btn-secondary"><a href="#" class="button_text">delete</a></button></td>' +
                            '</tr>'
                        main_table += table
                    }
                }
                $("#btn-Active").attr('class', 'active');
                $("#btn-Add").removeClass('active');
                $(".add-user-content").css("display", "none");
                $(".active-user-content").css("display", "inherit");
                $(".active-user-content").prepend('<div class="table_scroll_bar">'+
                    '<table class="table table-hover" id="station-table-list">' +
                    '<thead class="thead-dark">' +
                    '<th scope="col">number</th>' +
                    '<th scope="col">user name</th>' +
                    '<th scope="col">email</th>' +
                    '<th scope="col">phone number</th>' +
                    '<th scope="col">status</th>' +
                    '<th scope="col">access</th>' +
                    '<th scope="col">delete</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>' +
                    main_table +
                    '</tbody>' +
                    '</table>' +
                    '</div>'
                );
            }
        });
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $(document).on('click', '#status_deactive', function(event) {
        event.preventDefault();
        var data_user = $(this).data("user");
        var csrftoken = getCookie('csrftoken');
        var method = "Active"
        $.ajax({
            type: "POST",
            url: "{% url 'active_user_page' request.user.pk %}",
            data: {
                csrfmiddlewaretoken: csrftoken,
                'UserName': data_user,
                "Method": method
            },
            success: function() {
                var changed_user = $('.table-danger[data-user="' + data_user + '"]');
                changed_user.attr('class', 'table-success')
                changed_user.children(".user-status-TF").children('#change_st').text("Active")
                changed_user.children(".user-status-TF").attr('id', 'status_active')

            },
        });
    });

    $(document).on('click', '#status_active', function(event) {
        event.preventDefault();
        var data_user = $(this).data("user");
        var csrftoken = getCookie('csrftoken');
        var method = "Deactive"
        $.ajax({
            type: "POST",
            url: "{% url 'active_user_page' request.user.pk %}",
            data: {
                csrfmiddlewaretoken: csrftoken,
                'UserName': data_user,
                "Method": method
            },
            success: function(data) {
                var changed_user = $('.table-success[data-user="' + data_user + '"]');
                changed_user.attr('class', 'table-danger');
                changed_user.children(".user-status-TF").children('#change_st').text("Deactive")
                changed_user.children(".user-status-TF").attr('id', 'status_deactive')
            }
        });
    });
</script>

{% endblock %}